.cartcontainerouter{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     background-color: rgba(16, 13, 13, 0.959);
     position: absolute; 
    /* gap: 20px; */
    left: 0;
    padding: 8px 32px;
    border-radius: 20px;
    margin-top: 16px;
    width: 100%;
    min-height: 100vh;
   
}

.carttitle{
  display: flex;
  padding-top: 32px;
  padding-bottom: 24px;
  padding-left: 20px;
}

.carttxt{
    font-size: 20px;
}

.cartinner{

    background-color: #172239;
     z-index: 3;
     

}

.cartNDelete{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;

 
}

button {
  width: auto;              
  align-self: center;       
  border: none; 
  cursor: pointer;
  transition: 0.3s ease;
}

.emptycontainer{
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    gap: 20px;
}

.emptyimg{
  height: 200px;
  width: auto;
}