.listcontainerouter{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     background-color: rgba(16, 13, 13, 0.959);
     position: absolute; 
    /* gap: 20px; */
    left: 0;
    padding: 8px 32px;
    border-radius: 20px;
    margin-top: 16px;
    width: 100%;
    min-height: 100vh;
    /* border: green solid 2px; */
   
}

.listtitle{
  display: flex;
  padding-top: 32px;
  padding-bottom: 24px;
  padding-left: 20px;
}

.listtxt{
    font-size: 20px;
}

.listinner{
  display: flex;
  flex-direction: column;
  align-items: center;
    /* border: RED 2PX SOLID; */
    background-color: #172239;
     z-index: 3;
     

}

.cardndelete{
  border: orange solid 3px;
}

.removecontainer button{
  font-size: 20px;
}


.emptycontainer{
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    gap: 20px;
}

.emptyimg{
  height: 200px;
  width: auto;
}