*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

.maindiv{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #080e1b;
    /* position: relative; */
} 

.flex{
    display: flex;
}

.flexcol{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
   

}

.regbutton{
    padding: 8px 24px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.primary{
    color: rgb(232, 164, 62);;
}

.primarybtn{
        background-color:rgb(232, 164, 62);
}

button:hover{
   background-color:rgb(255, 174, 33);
   transition: 0.5s;
   color: rgb(42, 32, 14);
} 



.txtlight{
    color: #fcfdff;
}


.lineheight{
    line-height: 28px;
}


.fontsml{
    font-size: 14px;
    letter-spacing: 1.5px;
}

.fontreg{
    font-size: 15px;
    letter-spacing: 1px;
}

.secondarybtn{
    background-color: white;
    color: black;
}

.hide{
    display: none;
}



@media (max-width:1018px) {
    .grid{

    grid-template-columns: repeat(3, 1fr);


}
}

@media (max-width:840px) {
    .grid{

    grid-template-columns: repeat(2, 1fr);


}
}

@media (max-width:520px) {
    .grid{

   grid-template-columns: 1fr;


}
}


