.pagestxt{
color: white;
cursor: pointer;
}

.pagestxt:hover{
color: orange
}

.pages-container{
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 16px 30px;
}

#active{
    color: orange;
    text-decoration: underline;
}

